/*It sets the whole color of the webpage*/
body {
    background-color: #687864;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}

/*it sets the font and alignment of the Title*/
.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: aliceblue;
    font-size: 32px;
    font-weight: bold;
    
}

  
  div.desc {        
    
    top: 50%;   
    font-family: 'Courier New', Courier, monospace;    
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
}
    


.a {
  margin: 100px;
}

