/*This is a scratch for my Photography webpage*/
/*This line defines the webpage background color*/

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

/*Aligns the title PORTFOLIO*/
h2  {
  margin-top: 50px;
  }

.row {
  margin: 8px -16px;
   
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 15px;
  /*margin-left: 10px;*/

}

/* Create four equal columns that floats next to each other */
.column {
  float: right;
  width: 25%;

  }

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;   
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/*Centralize the vertical images*/
img.roads  {
  margin-left: 14%;
}

img.pnw {
  margin-left: 6%;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}

/*Defines the personal picture at the webpage
img.cssvcircle {
  border-radius: 65%;
  margin-left: 14%;
  margin-top: 10%;
  
}*/

/*Defines the name of the personal picture at the webpage
.css1ny458n {
  font-family: 'Copperplate Gothic';
  margin-left: 20%;  
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 100%;    
}*/

.css1z2hzn {
  margin-right: 92%;
  font-family: 'Copperplate Gothic';  
  padding-right: 100%;
 
}

/*Defines the e-mail*/
.css11s48l6 {
  font-family: sans-serif;
  margin-top: 1%;
  font-size: 11px;
  margin-left: 1%;
  padding-bottom: 1%;
}


.cssv73ehw  {
  margin-left: 100%;
}

h4 {
  text-align: center;
}

/* Set the top menu and the name of the personal picture at the webpage*/
.topnav::after {
  background-color: #b6cfaf;
  overflow: hidden;  
  content: "";
  clear: both;
  display: table;
  background-color: #94aa8e;
}

#name {
  font-family: 'Copperplate Gothic';
  font-size: 25px;
  float: left;
  width: 20%;
  padding: 5px;
  background-color: #94aa8e;
  text-align: center;

}


/* Style the links inside the navigation bar */

/* Change the color of links on hover */
.active :hover {
  background-color: #94aa8e;
  color: black;
}

/* Add a color to the active/current link */
.active {
  font-family: 'Copperplate Gothic';
  float: right;
  background-color: #94aa8e;
  color: white;
  color: #6b6969;
  text-align: center;  
  font-size: 17px;  
  padding: 5px;
  width: 20%;
}


