/*This is a scratch for my Photography webpage*/
/*This line defines the webpage background color*/
body {
  background-color: #f1f1f1e8;
  padding: 20px;
  column-count: 2;
  display: flex;
}

/*This section sets the name and personal picture of the webpage*/
.name {
  width: 150px;  
  border: 1px solid gray;
  padding: 5px;
  margin: 20px;
  font-family: 'Copperplate Gothic';  
}

/*personal picture*/
.cssvcircle {
  margin-left: 30px;
  border-radius: 45%;
}

/*name*/
#name {
  margin-left: 20px;
}

/*this section sets the images box*/
.content {
  width: 950px;  
  border: 1px solid gray;
  padding: 5px;
  margin: 20px;
  font-family: 'Century Gothic';
  column-count: 3;
  background-color: #dbdadaaf;
  border-radius: 2%;
  text-align: center;

}

.photo,
.roads,
.pnw,
  {
  padding: 5%;

}


div.menu {
  width: 150px;  
  border: 1px solid gray;
  padding: 5px;
  margin: 20px;
  font-family: 'Copperplate Gothic';

}

/*This box set the menu options in the webpage*/
.menu {
  width: 350px;  
  border: 5px solid gray;
  padding: 50px;
  margin: 20px;
  font-family: 'Copperplate Gothic';

}


.pictures {
  width: 350px;  
  border: 5px solid gray;
  padding: 50px;
  margin: 20px;
  font-family: 'Century Gothic';
  
}


