/*This is a scratch for my Photography webpage*/
/*This line defines the webpage background color*/
body {
  background-color: #f1f1f1e8;
  padding: 20px;
  column-count: 2;  
  display: flex;  
  
}

/*This section sets the name and personal picture of the webpage*/

/*name*/
.name {
  width: 150px;  
  padding: 5px;
  margin: 20px; 
  text-align: center;
  font-family: 'Copperplate Gothic';
     
}

#name {
  margin-bottom: 50px;
  font-weight: bold; 
}

/*personal picture*/
.cssvcircle {
  margin-left: 1px;
  border-radius: 45%;
}
/*this section sets the images box*/
.content {
  width: 1650px;  
  border: 1px solid gray;
  padding: 20px;
  margin: 20px;  
  column-count: 4;
  background-color: #dbdadaaf;
  border-radius: 1%;
  text-align: center;
  column-gap: 5px;
  margin-left: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  gap: 20px;

}

#pic {
  border: 3px solid rgb(221, 217, 217); /* Gray border */
  border-radius: 2px;  /* Rounded border */
  background-color: white;
}

#pic:hover {
  box-shadow: 0 0 2px 1px rgba(16, 17, 17, 0.5);
}

h4 {
  margin-top: 2px;
  font-family:'century gothic';
  font-weight: lighter;
}

p {
  text-align: center;
}

/*This box set the menu options in the webpage*/
div.menu {
  width: 150px;  
  padding: 2px;
  margin-right: 100px;
  font-family: 'Copperplate Gothic';

}
.menu a {    
  
  font-family: 'Copperplate Gothic';
  list-style-type: none;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;

}

.menu :hover {
  background-color: rgb(148, 148, 148);
  color: white;
}

.some {
  width: 30px;
}




